*{
	margin:0;
	padding:2;
}

body{
	background:rgba(174,159,199,4) ;
	color:rgba(60,28,102,1);
	font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4{
	font-family: 'Lalezar', cursive; 
	font-weight: 350em; 
}

h1{
	letter-spacing:0.0em;
	font-size: 280%;
	max-width: 1200px
	color:rgba(174,159,199,0.9)line ;
	text-shadow: 0px 0px 0 #999;	
	text-align:center;
}

h2{
	letter-spacing:0.1em; 
	color:rgba(174,159,199,0.9); 
	font-size: 230%;
	text-shadow: 0px 0px 0 #999;
	text-align:center;		
}

h3{
	letter-spacing:0.2em; 
	color:rgba(118,59,196,0.1); 
	padding:0em 0 0.em 0; 
	text-shadow: 0px 0px 0 #fff;
	text-align:center;	
}

h4, h5, h6{
	font-weight:left;
	font-weight:800; 
	color:rgba(60,28,102,0.9);	
}

#contenido{width:99%; margin:2% auto;}

header{
	width:100%;
	top:80%;
	position: absolute;
	text-align:center;
	z-index:4;
	color:white;
}

@media screen and (max-width: 980px){
	header{top:20%;}
}

@media screen and (max-width: 760px){
	header{top:20%;}
}

video{
	width:100%;
	height:auto;
	}

#somos{
	width:100%;
	background:white;
	margin-bottom:2%;
	}

.dupla{
	width:46%;
	padding:2%;
	float:left;
	background-color:white;
	}

.dupla a{
	color:rgba(255,0,0,0.75);
	text-decoration:none;
	font-weight:700;
}

.dupla a:hover{
	color:rgba(255,0,0,1);
	text-decoration:underline;
}

.primera{
	min-height:300px;
	text-align:left;
	background-color:#B3A0C3;
	background-image:url('media/dupla-01.jpg');
	background-position:top right;
	background-repeat:no-repeat;
	background-size:auto 100%;
}
.primera h4{padding: 2% 40% 1% 2%;}

.primera h5{padding: 1% 40% 2% 2%; margin-bottom:5em; letter-spacing:0.1em;}

.primera p{padding: 2% 40% 2% 2%;}

.primera address{padding: 2% 40% 2% 2%; font-size:0.9em; font-style:normal;}

.segunda{
	min-height:300px;
	text-align:right;
	background-color:#B3A0C3;
	background-image:url('media/dupla-02.jpg');
	background-position:top left;
	background-repeat:no-repeat;
	background-size:auto 100%;
}

.segunda h4{padding: 2% 2% 1% 40%;}

.segunda h5{padding: 1% 2% 2% 40%; margin-bottom:5em; letter-spacing:0.1em;}

.segunda p{padding: 2% 2% 0% 40%;}

.segunda address{padding: 2% 2% 2% 40%; font-size:0.9em; font-style:normal;}

#somos hr{
	clear:both;
	border:none;
	}

#portafolio{
	width:100%;
	padding-bottom:1%;
	background:linear-gradient(to bottom right, #C7A9C8, #E2CAD9);
}

.item {
	width:23%;
	margin:1%;
	color:#333;
	background:white;
	box-shadow:0 0 5px rgba(0,0,0,.1);
}

.item:hover{
	cursor:crosshair;
}

.item figure{
	overflow:hidden;
}

.item figure img{
	width:100%; 
	height:auto; 
	margin-bottom:-4px;
	filter: grayscale(1);
}

.item:hover figure img{
	transform:scale(1.25);
	filter: grayscale(0);	
	transition:all ease-out 0.4s;
}

.item h4{
	font-size:1em;
	letter-spacing:0.025em;
	margin:5% 5% 3% 5%;
}

.item p{
	font-size:0.875em;
	letter-spacing:0.05em;
	margin:2% 5% 6% 5%;
}

footer{
	width:100%;
	padding:3em 0 1em 0;
	text-align:center;
	font-family: 'Lalezar', cursive;  
	font-weight:700; 	
}

footer p{
	text-transform:uppercase;
	letter-spacing:0.1em;
	font-size:0.9em;
	}

footer hr{
	border:2px solid #000;
	width:10%;
	margin:2em auto 0 auto;
	}

@media screen and (orientation: portrait){

	.dupla{
		width:96%;
		padding:2%;
		float:left;
	}
	.item{
		width:48%;
		margin:1%;
		background:#F0E5D3;
		color:#white;
	}

	footer hr{
	width:20%;
	}
}
